{% extends 'navbar.html' %}
{% load static %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    
            
   
</head>
<body>
    <center>
    <div style="display: flex;justify-content: center;flex-direction: column;">
       
        <img id="img" src="https://st2.depositphotos.com/3591429/10566/i/950/depositphotos_105666254-stock-photo-business-people-at-meeting-and.jpg" width="500px" height="380px" style="margin-left: 25%;margin-top: 20px; border-radius: 50px;">
        <p style="color: rgb(120, 119, 119);margin-top: 20px;margin-left: 10px;margin-right: 20px; background-color: white;opacity: 50%;">we provide free and easy system for sharing the notes .<br> our team profived better experience for  the user . hope you all get used this system wisely.</p>
    </div>
</center>
    
</body>
</html>
{% endblock %}